body {
    font-family: Arial, sans-serif;
    background-color: #e3caca;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Style the container */
.contanier {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Style the calculator */
.calculator {
    width: 300px;
    background-color: #3a4452;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

/* Style the input display */
#display {
    color: white;
    width: 100%;
    text-align: right;
    background: #3a4452;
    margin-bottom: 10px;
    font-size: 45px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: none;
}

/* Style the buttons */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    margin: 5px;
    width: 60px;
    height: 60px;
    font-size: 17px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    color: #fff;
}
.operator{
    color: #33ffd8;
}
/* Style the "=" button differently */
#equal {
    grid-column: span 2;
    font-size: 18px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-weight: bold;
}